# Exclude anything beginning with `.`
.*

# Explicitly exclude git and editor files (just in case)
**/.git
**/.github
**/.gitignore
**/.gitattributes
**/.vscode

# Exclude Docker and Docker Compose files
**/Dockerfile
compose.yaml

# Exclude project documentation
docs
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.txt
LICENSE
mkdocs.yml
README.md

# Exclude local cached files
**/__pycache__
build

# Exclude other files not needed in a container
cache
logs
tests
bash-preexec.sh
terminal_sync.*
